<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->

<configuration>
  <configSections>
    <!--
      IMPORTANT NOTE: Starting with release 2.0 the config file is in the "\Backload" folder.
      For more on config options and settings refer to the wiki on GitHub (https://github.com/blackcity/Backload) 
      You can also find all config options in the "Web.Backload.Default.txt" file (Backload\Config\_Defaults folder).
    -->
    <section name="backload" type="Backload.Configuration.BackloadSection, Backload, Version=2, Culture=neutral, PublicKeyToken=02eaf42ab375d363" requirePermission="false" />
  </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    <!-- max 1GB --><httpRuntime executionTimeout="3600" maxRequestLength="1000000000" /></system.web>

<!-- Note: Web.Backload.config is now in the "\Backload" folder. For previous installations you can leave it in the root folder. --><backload configSource="Backload\Web.Backload.config" /><system.webServer>
    <security>
      <requestFiltering>
       <!-- max 1GB -->
        <requestLimits maxAllowedContentLength="1000000000" />
      </requestFiltering>
    </security>
    <!-- Allow http DELETE method-->
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
