<?xml version="1.0"?>

<!-- For the Custom Events demo we enable server side events -->
<!-- For the Tracing demo you need to enable tracing here and in Web.config -->
<backload eventing="true" tracing="false" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Config\Web.Backload.xsd">

  <!-- Sets the root upload folder internal and external path example (default: ~/Files) -->
  <fileSystem filesRoot="c:\temp" virtualDirectory="/exportdata" />

  <thumbnails path="" store="false" />

  <!-- Examples for external file storage. "Uploads" is the IIS virtual path name -->
  <!-- <fileSystem filesRoot="z:\Uploads\" virtualDirectory="Uploads" -->
  <!-- <fileSystem filesRoot="\\FileServer\Files\" virtualDirectory="Uploads" -->
</backload>
    